---
---
// $layout-switch: 50em;
// $max-width: 80em;
// $mq: $layout-switch;
// 
// :root {
//   --color-bg: hsl(0, 0%, 98%);
//   --color-text: hsl(0, 0%, 27%);
//   --color-link: hsl(210, 100%, 56%);
//   --color-visited: hsl(326, 79%, 46%);
//   --color-button: hsl(0, 0%, 93%);
//   --color-button-text: hsl(0, 0%, 20%);
//   
//   @media (prefers-color-scheme: dark) {
//     --color-bg: hsl(0, 0%, 12%);
//     --color-text: hsl(0, 0%, 98%);
//     --color-button: hsl(0, 0%, 20%);
//     --color-button-text: hsl(0, 0%, 93%);
//   }
// }
// 
// html, body {
//   height: 100%;
// }
// 
// body {  
//   margin: 0 auto;
//   font-family: proxima-nova, sans-serif;
//   color: var(--color-text);
//   background-color: var(--color-bg);
//   min-height: 100vh;
// 
//   @media (min-width: $layout-switch) {
//     // max-width: 80em;
//   
//     @supports (display: grid) {
//       display: grid;
//       align-items: center;
//       // grid-template-rows: auto 6.25em;
//       grid-template-columns: 2fr 3fr;
//     }
//   }
// }
// 
// a:not([class]) {
//   color: var(--color-link);
// 
//   &:visited {
//     color: var(--color-visited);
//   }
// 
//   &:hover {
//     text-decoration: none;
//   }
// }
// 
// img {
//   width: 100%;
// }
// 
// .site-header {
//   box-sizing: border-box;
//   margin: 5vh 5vw;
// }
// 
// .logo {
//   --logo-size: clamp(10rem, 30vw, 26rem);
//   width: var(--logo-size);
//   height: calc((200 / 184) * var(--logo-size));
//   position: relative;
//   margin: 0 auto;
// 
//   @media (min-width: $layout-switch) {
//     margin: calc(5vw + 10vh + 0.5vw) auto 0;
//   }
//   
//   @media (min-width: $max-width) {
//     margin: calc(5em + 10vh + 0.5vw) auto 0;
//   }
// }
// 
// $mq: 80rem;
// 
// // @media (min-width: 50rem) {
// //   .logo {
// //     --logo-size: calc(50rem * 0.3);
// //   }
// // }
// 
// .logo__top,
// .logo__bottom,
// .logo__diagonal {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   mask-size: contain;
//   mask-repeat: no-repeat;
// }
// 
// .logo__top {
//   mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A//www.w3.org/2000/svg' viewBox%3D'0 0 184 200'%3E%3Cpath d%3D'M181.7 50h-160s-9.99 0-10-9.99V10C11.72 0 21.7 0 21.7 0h120.28c6.03 0 11.63 3.17 14.73 8.34l25 41.66z'/%3E%3C/svg%3E");
//   background: linear-gradient(138.5deg, rgba(110, 28, 19, 0) 36%, #6e1c13 46%), linear-gradient(138.5deg, rgba(132, 34, 23, 0) 35%, #842217 50%), linear-gradient(100deg, #ffc46c 10%, #ec8051 30%, #ab392b 60%, #842217 70%);
// }
// 
// .logo__bottom {
//   mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A//www.w3.org/2000/svg' viewBox%3D'0 0 184 200'%3E%3Cpath d%3D'M1.7 150h160s10 0 10 10v30c0 10-10 10-10 10H41.8a17.84 17.84 0 01-15.29-8.66L1.71 150z'/%3E%3C/svg%3E");
//   background: radial-gradient(circle at 100% 80%, #D21983 2%, rgba(158, 40, 130, 0) 35%), linear-gradient(318.5deg, rgba(13, 0, 9, 0) 36%, #0d0009 46%), linear-gradient(280deg, #802873 10%, #6e0064 30%, #26001c 60%);
// }
// 
// .logo__diagonal {
//   mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A//www.w3.org/2000/svg' viewBox%3D'0 0 184 200'%3E%3Cpath d%3D'M173.59 65.99a29.03 29.03 0 005.69-36.7L172 17.14A35.31 35.31 0 00142.68.03c8.93.57 7.5 9.08-1.54 18.12L9.82 134a29.03 29.03 0 00-5.68 36.7l7.28 12.14a35.3 35.3 0 0029.31 17.12c-8.93-.57-7.5-9.08 1.54-18.12L173.6 66z'/%3E%3C/svg%3E");
//   background: radial-gradient(circle at 90% 5%, #eca76a 2%, rgba(236, 167, 106, 0) 30%), radial-gradient(circle at 25% 125%, #330627 0%, rgba(51, 6, 39, 0) 50%), radial-gradient(circle at 15% 100%, #780d5c 0%, rgba(120, 13, 92, 0) 30%), linear-gradient(41.5deg, #D21983 20%, #EC8051 70%);
// }
// 
// .site-main {
//   box-sizing: border-box;
//   margin: 5vh 5vw;
//   max-width: 60ch;
//   font-size: clamp(1rem, 4vw, 1.25rem);
//   line-height: 1.5;
// 
//   @media (min-width: $layout-switch) {
//     margin: calc(5vw + 10vh + 0.5vw) 5vw 5vh;
//   }
//   
//   @media (min-width: $max-width) {
//     margin: calc(5em + 10vh + 0.5vw) 5vw 5vh;
//   }
// }
// 
// .name {
//   position: fixed;
//   bottom: 100%;
//   right: 100%;
// }
// 
// .image {
//   line-height: 0;
//   width: 50%;
//   max-width: 30rem;
//   overflow: hidden;
//   @media (min-width: $layout-switch) {
//     width: 70%;
//     max-width: none;
//     max-height: none;
//   }
//   @media (min-width: $max-width) {
//     border-width: 0.4em;
//   }
// }
// 
// .bio {
//   margin-bottom: 5vh;
// }
// 
// .on-the-web {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   display: grid;
//   grid-gap: 1em;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-auto-rows: 1fr;
//   
//   @media (min-width: $layout-switch) {
//     grid-template-columns: 1fr 1fr;
//   }
// }
// 
// .item {
//   width: 100%;
//   display: flex;
//   align-content: stretch;
// }
// 
// .button {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   text-decoration: none;
//   background-color: var(--color-button);
//   color: var(--color-button-text);
//   border-radius: 0.5vmax;
//   text-transform: lowercase;
//   font-weight: 900;
//   padding: 1rem;
//   transition: all 150ms cubic-bezier(0.17, 0.67, 0.64, 1.17);
//   
//   &:hover {
//     background-color: var(--color-visited);
//     color: white;
//     transform: translateY(-0.25em);
//   }
// }
// 
// .site-footer {
//   box-sizing: border-box;
//   padding: 5vh 5vw;
//   @media (min-width: $layout-switch) {
//     grid-column: 1 / span 2;
//     grid-row: 2;
//     text-align: center;
//   }
// }